.DS_Store
*.iml
.tags
.tags1
node_modules
.idea/
.history/
Pods/
ReactNativeShareExtension.x*

# android files
**/android/.gradle
**/android/.settings
**/android/build
**/android/.project
**/android/bin